---
layout: "base.njk"
---

<article class="article-wrapper">
  <link rel="stylesheet" href="/style/article.css" />
  <link
    href="https://unpkg.com/prismjs@1.20.0/themes/prism-funky.css"
    rel="stylesheet"
  />
  <h1 class="article-title">{{ title }}</h1>
  {{ content | safe }}
</article>
