<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" />
    {% eleventyGoogleFonts
    'https://fonts.googleapis.com/css2?family=Nunito&display=swap' %}
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      {% include 'navbar.njk' %}
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
