<footer class="footer-wrapper">
  <link rel="stylesheet" href="/style/footer.css" />
  <span>© 2024 Valentino Filipetto</span>
  <div>
    <a
      class="footer-link"
      title="Link to my GitHub page"
      href="https://github.com/ValentinoFilipetto"
      >GitHub</a
    >
    <a
      class="footer-link"
      title="Link to LinkedIn page"
      href="https://www.linkedin.com/in/valentino-filipetto-405b7198/"
      >LinkedIn</a
    >
  </div>
</footer>
