<div class="header-wrapper">
  <link rel="stylesheet" href="/style/header.css"/>
  <div class="header-title">
    <h1 class="greeting">The way by Tino's
      <span class="tooltiptext">
        This title is inspired by the first book of
        <em class="italics">À la recherche du temps perdu</em>
        by Marcel Proust, entitled "Swann's way".
      </span>
    </h1>
  </div>
  {% include 'navbar.njk' %}
</div>