<div class="header-wrapper">
  <link rel="stylesheet" href="/style/header.css" />
  <div class="header-title">
    <h3 class="greeting">Hello, my name is Valentino</h3>
    <h1 class="welcome">Welcome to my site!</h1>
  </div>
  {% include 'navbar.njk' %}
</div>
