<div class="navbar-wrapper">
  <div class="vertical-bar" />
  <Nav>
    <ul>
      <li>
        <div class="text-link">About Me</div>
      </li>
      <li>
        <div class="text-link">Articles</div>
      </li>
      <li>
        <div class="text-link">Contact</div>
      </li>
    </ul>
    <div></div>
  </Nav>
</div>
