
<nav class="navbar-wrapper">
    <link rel="stylesheet" href="/style/navbar.css" />
    <ul class="navbar">
      <li class="navbar-item">
        <a href="/" class="navbar-link">
          <i class="fa solid fa-pen fa-lg"></i>
          articles
        </a>
      </li>
      <li class="navbar-item">
        <a href="/about" class="navbar-link">
          <i class="fa-regular fa-user fa-lg"></i>
          about me
        </a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">
          <i class="fa-regular fa-comment fa-lg"></i>
          contact
        </a>
      </li>
    </ul>
  </nav>
</div>
