.header-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 64px;
  padding: 32px 0px 32px 0px;
  border-bottom: 2px solid lightblue;
}

.picture-of-me {
  width: 250px;
  height: 250px;
  border-radius: 60%;
}

.header-title {
  font-size: 1.8rem;
  margin-right: 30%;
  margin-left: 5%;
  margin-bottom: 5%;
}
