.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 64px 0px 64px;
}

.header-title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.greeting {
  color: var(--clr-tertiary-400);
}

.welcome {
  font-size: 2rem;
  text-wrap: nowrap;
}

@media (max-width: 700px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .greeting {
    align-self: center;
  }
}
