.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 64px 0px 64px;
}

.header-title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.greeting {
  color: var(--clr-tertiary-400);
}

.welcome {
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.greeting .tooltiptext {
  visibility: hidden;
  margin-left: 8px;
  max-width: 380px;
  background-color: var(--clr-secondary-300);

  text-align: center;
  border-radius: 6px;
  padding: 8px;

  position: absolute;
  z-index: 1;
}

.greeting:hover .tooltiptext {
  visibility: visible;
  animation: fadeInUp 0.3s ease-out forwards;
}

.italics {
  background-color: var(--clr-secondary-300);
}

@media (max-width: 700px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .greeting {
    align-self: center;
  }
}
