.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 64px;
}

.greeting {
  color: var(--clr-tertiary-400);
  width: fit-content;
}

.welcome {
  font-size: 2rem;
  text-wrap: nowrap;
}

@media (max-width: 550px) {
  .header-wrapper {
    padding: 0px 16px 0px 16px;
  }
}
