.articles-preview-wrapper {
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 160px;
  margin-top: 64px;
}

.articles-preview-list {
  list-style: none;
}

.article-title {
  font-size: 1.5rem;
}

.article-preview {
  border: 2px solid white;
  border-radius: 12px;
  margin-bottom: 32px;
  /* height: 150px; */
  padding: 8px 16px;
}

.article-details {
  color: rgb(199, 229, 239);
}

.article-preview:hover a {
  text-decoration-color: var(--clr-tertiary-400);
}

.article-preview:hover a h3 {
  color: var(--clr-tertiary-400);
}

.articles-preview-list:hover .article-list-item:not(:hover) .article-preview {
  opacity: 0.3;
  transition: all 0.2s linear;
}

.pagination-link {
  align-self: flex-end;
  margin: -164px 0px 128px 0px;
}

.pagination-link:hover {
  color: var(--clr-tertiary-400);
}

.pagination-link:last-of-type {
  margin-left: 8px;
}

@media (max-width: 550px) {
  .article-title {
  }
}
