---
title: Tino's site
layout: "base.njk"
---

<div class="about-me-wrapper">
  <div class="text-wrapper">
    <link rel="stylesheet" href="/style/about-me.css" />
    <p>
      I have been living and working in Amsterdam for several years. Most of the
      day I write code in JavaScript, but I came to programming almost by
      chance, in the sense that in my study I concentrated first on music -
      listening to the grandiose works of Mahler, Šostakóvič and Anton Bruckner
      from a very young age - then on philosophy, and finally on mathematical
      logic, which it began to absorb me in my third year of university, in the
      midst of a very strong personal crisis. It was right at the end of my
      journey at the
      <a target="_blank" href="https://www.illc.uva.nl/">ILLC</a> (Institute for
      logic, language and computation) in Amsterdam that I decided to build the
      profession of software developer for myself, a choice I am still very
      proud of today.
    </p>
    <p>
      This site was born from the passion for all these topics together, as a
      means of sharing opinions about the world. This is also why I will write
      about the most disparate topics such as music, computer science at large
      and politics, in Italy and in the rest of the world.
    </p>
  </div>
  <img class="picture-of-me" alt="picture of me" src="../public/img/me.jpg" />
</div>
