---
title: Tino's site
layout: "base.njk"
---

<div class="articles-preview-wrapper">
  <link rel="stylesheet" href="/style/home.css" />
  <ul class="articles-preview-list">
    {%- for post in collections.post -%}
    <li class="article-list-item">
      <article class="article-preview">
        <a href="{{ post.url }}">
          <h3>{{ post.data.title }}</h3>
        </a>
        <p>Published on {{ post.data.date | postDate }}</p>
        <p>{{ post.data.description }}</p>
      </article>
    </li>
    {%- endfor -%}
  </ul>
</div>
