---
title: example
layout: "base.njk"
---

<div>
  <nav>
    <ul>
      <li>The Drinking Song of Earth's Sorrow</li>
      <li>The Lonely One in Autumn</li>
      <li>Of Beauty</li>
    </ul>
  </nav>
</div>

