:root {
  --clr-primary-200: rgb(1, 2, 29);
}

* {
  background-color: var(--clr-primary-200);
  color: white;
  font-family: Nunito;
}

/* The following reset was proposed by Josh Comeau
and can be checked out here: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Header style */

.header-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 32px 0px 32px 0px;
  border-bottom: 2px solid lightblue;
}

.header-title {
}

.picture-of-me {
  width: 300px;
  height: 300px;
  border-radius: 60%;
}

/* Home page style */

.home-wrapper {
  display: flex;
  justify-content: center;
  gap: 160px;
  margin-top: 64px;
}

.articles-preview-list {
  list-style: none;
}

.article-preview {
  border: 2px solid white;
  border-radius: 12px;
  margin-bottom: 32px;
  height: 150px;
  padding: 8px 16px;
}

/* Navbar style  */

.navbar-wrapper {
  height: 170px;
  justify-content: center;
  line-height: 48px;
  border: 2px solid red;
}

.vertical-bar {
  border-radius: 30px;
  width: 50px;
  background-color: white;
}

.text-link {
  margin-left: 28px;
  display: inline-block;

  &:hover {
    transition: transform 250ms;
    transform: translateX(10px);
  }
}
